.main {
    margin: 0 auto;
    width: 95%;
    min-width: 360px;
    max-width: 1240px;
    height: 92vh;
    padding: 15%;
    background: #ece5dd;
}

h3 {
    text-align: center;
    line-height: 300%;
}

