<app-navbar></app-navbar>
<div class="contacts">
    <ul>
        <li class="contact">
            <div class="wrap">
                <img src="https://via.placeholder.com/150" alt="" />
                <div class="meta">
                    <p class="name">Louis Litt</p>
                    <p class="preview">You just got LITT up, Mike.</p>
                </div>
            </div>
        </li>
        <li class="contact">
            <div class="wrap">
                <img src="https://via.placeholder.com/150" alt="" />
                <div class="meta">
                    <p class="name">Louis Litt</p>
                    <p class="preview">You just got LITT up, Mike.</p>
                </div>
            </div>
        </li>
    </ul>
</div>